.hidden {
    display: none;
}

body {
    height: 700px;
    background-image: url("/Clone_Coding/Momentum/img/0.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

#links {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px 0px 10px;
}

#links:hover {
    color: rgb(84, 88, 82);
}

#links a {
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
    color: rgb(56, 56, 53);
}

#add-links-frame {
    position: absolute;
    top: 55px;
    left: 15px;
}

#add-links-frame i {
    color: rgb(109, 106, 106);
    padding: 0 15px;
}

#add-links {
    background-color: rgb(109, 106, 106);
    width: 350px;
    height: 135px;
    border-radius: 8px;
    position: relative;
}

#add-option, #creating-link {
    padding: 10px 0;
    margin: 0 8px;
    text-align: right;
}

#add-option i {
    color: white;
    padding: 10px 8px;
    border-radius: 20px;
}

#add-option i:hover {
    background-color: rgb(109, 115, 106);
}

#add-links ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#add-links li {
    border-radius: 10px;
    margin-bottom: 5px;
}

.links-item {
    padding: 20px 20px;
    display: flex;
}

.links-item:hover {
    background-color: rgb(109, 115, 106);
}

.links-item a {
    text-decoration: none;
    color: white;
}

.links-item button {
    background-color: transparent;
    border: 0;
    margin-left: auto;
    color: white;
}

.links-item button:hover {
    color: rgb(215, 213, 213);
}

#creating-link {
    color: rgb(222, 221, 221);
    text-align: left;
    display: flex;
    align-items: center;
}

#creating-link p {
    margin: 0px 70px;
}

#creating-link i {
    color: rgb(222, 221, 221);
    border-radius: 10px;
}

#creating-link i:hover {
    background-color: rgb(109, 115, 106);
}

#create-form, #link-address {
    margin: 5px 20px;
}

#create-form h4, #link-address h4{
    color: rgb(222, 221, 221);
    margin: 5px 0;
}

#create-form input, #link-address input {
    font-size: 12px;
    width: 300px;
    text-align: left;
    color: rgb(222, 221, 221);
    border-bottom: solid rgb(222, 221, 221) 1px;
    margin-bottom: 25px;
}

#create-form input:focus, #link-address input:focus {
    border-bottom: solid rgb(222, 221, 221) 2px;
}

#add-button {
    text-align: center;
}

#add-button button {
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(39, 192, 39);
}

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 0px;
}

#id-question {
    text-align: center;
}

input {
    font-size: 30px;
    color: #222222;
    width: 450px;
    border: none;
    border-bottom: solid #222222 1px;
    padding-bottom: 10px;
    text-align: center;
    background: none;
    z-index: 5;
}

input:focus {
    outline: none;
}

#clock {
    margin: 0;
    font-size: 60px;
}

#greeting {
    margin: 0;
    font-size: 30px;
}

#todo-question {
    margin-top: 60px;
    text-align: center;
}

#main-todo {
    display: none;
    justify-content: center;
    align-items: center;
}

#main-todo input {
    height: 15px;
    width: 15px;
    background-color: transparent;
}

#main-todo h3 {
    margin: 0 10px;
    font-size: 30px;
}

#main-todo button {
    height: 20px;
    width: 20px;
    font-size: 30px;
    margin-bottom: 16px;
    background-color: transparent;
    border: 0;
}

footer {
    position: relative;
}

#quote {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sub-todo {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 19px;
}

#sub-todo a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

#sub-todo:hover {
    color: rgb(51, 53, 50);
}

#add-todo-frame {
    position: absolute;
    right: 10px;
    bottom: 25px;
    text-align: right;
}

#add-todo-frame i {
    color: rgb(22, 22, 22);
    padding: 0 15px;
}

#add-todo {
    background-color: rgb(22, 22, 22);
    width: 350px;
    height: 115px;
    border-radius: 8px;
    color: rgb(239, 239, 239);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-todo p {
    font-size: 25px;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

#add-todo input {
    width: 350px;
    height: 30px;
    font-size: 18px;
    border: none;
    padding: none;
    text-align: left;
    margin-left: 10px;
    color: rgb(192, 192, 192);
}

#sub-todo-items {
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

#sub-todo-items li {
    display: flex;
    align-items: center;
    padding: 3px 0;
    border-radius: 8px;
}

#sub-todo-items li:hover {
    background-color: rgb(28, 28, 28);
}

#sub-todo-items input{
    width: 12px;
    height: 12px;
}

#sub-todo-items span {
    margin-left: 5px;
}

#sub-todo-items button {
    border: 0;
    background-color: transparent;
    color: rgb(239, 239, 239);
    margin-left: auto;
    margin-right: 15px;
}

#sub-todo-items button:hover {
    color: rgb(192, 192, 192);
}
