header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: rgb(76, 8, 153);
}

img {
    width: 300px;
}

main {
    width: 760px;
    padding: 32px;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgb(124, 55, 203);
    margin: 56px auto 36px auto;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

li {
    list-style: none;
    margin-top: 24px;
    padding-left: 10px;
}

.MDN-link {
    text-decoration: none;
    background-color: rgb(237, 233, 115);
    color: rgb(37, 33, 33);
    padding: 1px;
    border-radius: 5px;
}

.MDN-link:hover {
    background-color: rgb(206, 203, 107);
}

.highlights {
    color: rgb(230, 240, 154);
    border-left: 5px solid rgb(247, 209, 85);
}

footer {
    text-align: center;
}

#PDF-link {
    text-decoration: none;
    background-color: rgb(250, 187, 40);
    color: rgb(37, 33, 33);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

#PDF-link:hover {
    background-color: rgb(233, 174, 35);
}

#Company {
    font-size: 12px;
    margin-top: 24px;
    color: rgb(91, 88, 88);
}